// Bulma base, utilities, helpers
@import "bulma/sass/base/_all.sass"
@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/helpers/_all.sass"

// Bulma grid
@import "bulma/sass/grid/columns.sass"

// Bulma elements
@import "bulma/sass/elements/button.sass"
@import "bulma/sass/elements/container.sass"

// Bulma form
@import "bulma/sass/form/_all.sass"

// Bulma components
@import "bulma/sass/components/card.sass"
@import "bulma/sass/components/navbar.sass"



$primary-color: white

$bg: black

h1
  color: $primary-color
  background-color: $bg

